@model InvoiceManagementPro.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow mb-4 border-danger">
            <div class="card-header py-3 bg-danger text-white">
                <h6 class="m-0 font-weight-bold"><i class="fa fa-exclamation-triangle"></i> Delete Product</h6>
            </div>
            <div class="card-body">
                <h4 class="text-center text-danger mb-4">Are you sure you want to delete this?</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="bg-light" style="width: 40%">@Html.DisplayNameFor(model => model.ProductName)</th>
                                <td>@Html.DisplayFor(model => model.ProductName)</td>
                            </tr>
                            <tr>
                                <th class="bg-light">@Html.DisplayNameFor(model => model.ProductUnit)</th>
                                <td>@Html.DisplayFor(model => model.ProductUnit)</td>
                            </tr>
                            <tr>
                                <th class="bg-light">@Html.DisplayNameFor(model => model.ProductRate)</th>
                                <td>AED @Html.DisplayFor(model => model.ProductRate)</td>
                            </tr>
                            <tr>
                                <th class="bg-light">@Html.DisplayNameFor(model => model.ProductDescription)</th>
                                <td>@Html.DisplayFor(model => model.ProductDescription)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <form asp-action="Delete" class="text-center mt-3">
                    <input type="hidden" asp-for="ProductId" />
                    <button type="submit" class="btn btn-danger btn-lg me-2">
                        <i class="fa fa-trash"></i> Confirm Delete
                    </button>
                    <a asp-action="Index" class="btn btn-secondary btn-lg">
                        <i class="fa fa-times"></i> Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
