@model InvoiceManagementPro.Models.Customer

<h1>Customer Details</h1>

<div>
   @* <h4>Customer ID: @Model.CustomerId</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Customer Name:</dt>
        <dd class="col-sm-10">@Model.CustomerName</dd>

        <dt class="col-sm-2">Customer Detail:</dt>
        <dd class="col-sm-10">@Model.CustomerDetail</dd>

        <dt class="col-sm-2">Customer City:</dt>
        <dd class="col-sm-10">@Model.CustomerCity</dd>

        <dt class="col-sm-2">Phone Number:</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>


        <dt class="col-sm-2">Account Number:</dt>
        <dd class="col-sm-10">@Model.AccountNumber</dd>

    </dl>
</div>

<p>
    <a class="btn btn-success" href="@Url.Action("Index")">Back to List</a>
</p>
